* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(85, 85, 85);
}

header {
    display: flex;
    padding: 25px;
    align-items: center;
    border-bottom: 6px solid;
    border-image: linear-gradient(to right, #FF0000, #990000) 1;
    background-color: black;
}

.nomeLoja {
    display: flex;
    justify-content: center;
    align-items:end;
}

.jw {
    font-size: 30px;
    color: white;
    font-weight: bolder;
}

.sports {
    color: #FF0000;
    font-size: 24px;
    font-weight: bolder;
}

.navegacao {
    display: flex;
    justify-content: center;
    width: 82%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 15px;
    width: 40%;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

main {
    display: flex;
    flex-direction: column;
}

.primeiroMain {
    display: flex;
    min-height: 450px;
    max-height: 750px;
    justify-content: space-around;
    flex-wrap: wrap;
    background: linear-gradient(to right, black, #FF0000);
}

.primeiraParte {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    gap: 35px;
}

.titulo {
    text-align: center;
    color: white;
}

h2 {
    font-size: 40px;
}

h1  {
    font-size: 55px;
}

.confira {
    text-align: center;
    background-color: #B10000;
    width: auto;
    padding: 20px;
    border-radius: 40px;
    font-size: 30px;
}

.segundaParte {
    display: flex;
    height: 100%;
}

.camisaCe {
    position: absolute;

    height: 400px;
    z-index: 1;
}

.camisaFL {
    height: 310px;
    margin-top: 13%;
    margin-left: 2%;
}

.segundoMain {
    display: flex;
    flex-direction: column;
}

.logosTimes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    background-color: #D8D7D7;
}

.logoTime {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 4px solid;
    border-color: #990000;
    border-radius: 100px;
}

.imgTime {
    width: 90px;
}

.camisasDestaques {
    height: 150px;
    border: solid;
    background-color: black;
}

